{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="{% static 'css/coverstyle.css' %}">
    <style>

         body {
            background-image: url('{{background_default}}');
           }
    </style>


</head>
<body>
     <main>
    <header>
      <div class="description">
          <h1>Social Media Insights</h1>
        <div class="date"><h2>{{start_date|date:'d M y'}} - {{end_date|date:'d M y'}} </h2></div>
        <ul>
          <li><a href=""><i></i><h3>app.metricool.com</h3></a></li>
          <li><a href=""><i></i><h3>Metricool Es nn</h3></a></li>
          <li><a href=""><i></i><h3>Metricool</h3></a></li>
          <li><a href=""><i></i><h3>Metricool</h3></a></li>
          <li><a href=""><i></i><h3>Metricool</h3></a></li>
        </ul>
      </div>

    </header>
    <footer>
        <img class="img-logo" src="{{logo}}" alt="" srcset="">
    </footer>
  </main>
</body>
</html>
