{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>

         body {
            background-image: url({{background_default}});
           }
    </style>


</head>
<body>
    <main>
        <header>
          <div class="description">
              <h2>{{title}}</h2>
              <h3>{{subTitle}}</h3>
          </div>
        </header>
         <section>
             <img class="image-patterns" src="{{tmpIMage}}" alt="" srcset="">
         </section>
        <footer>
            <div class="date"><h2>{{start_date|date:'d M y'}} - {{end_date|date:'d M y'}} </h2></div>
            <img class="img-logo" src="{{logo}}" alt="" srcset="">

        </footer>
    </main>
</body>
</html>
