{% extends 'core/base.html' %}
{% load static %}

 {% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <style>
           body {
            background-image: url('{{background_default}}');
           }
        </style>

   {% endblock %}


  {% block header %}
    <header>

      <div class="template_title">Community growth</div>
      <div><img src="{% url '{{logo}}'%}" alt="" srcset=""></div>
    </header>
  {% endblock %}


{% block content %}

    <div class="grid-container">
        {% for char in chart_list %}
            <div class="grid-item">
              <img src="{% url '{{chart}}'%}" alt="Image 1">
            </div>
        {% endfor %}
    <!-- Ajoutez plus de div.grid-item avec des images supplémentaires -->
  </div>
{% endblock %}



  {% block footer %}
     <footer>
      <div class="description">
        <div class="date"><h2>{{start_date|date:'dd-mm-yy'}} - {{end_date|date:'dd-mm-yy'}} </h2></div>
      </div>
      <div><img src="{% url '{{logo}}'%}" alt="" srcset=""></div>
    </footer>
  {% endblock %}
