



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2{
    font-weight: 200;
    font-size: 3em;
}
h3{
    font-weight: 200;
    font-size: 1.8em;
}
body{
    display: grid;
    gap: 3em;
    grid-template-rows: 1fr 2.5fr 0.5fr;
}

header{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    margin-left: 2em;
}

footer{
    display: flex;
    flex-direction: row;
    margin-left: 4em;
    margin-top: 6em;
    gap: 14em;
}

footer img {
    width: 12em;
}

footer{
    page-break-after: always;
}

section{
    width: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 2.5em;
}
.image-patterns{
    width: 100%;
}

header, footer {
    margin-left: 3em;
}

body{
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: none;
    width: 100%;

}

.date h2{
    font-size: 1.5em;
}
.date {
    padding-right: 13em;
}
